In [ ]:
import pandas as pd
import numpy as np

In [119]:
df = pd.read_csv('dataset_barris.csv')
display(df)

,synthetic_id,neighbourhood,address,lon,price,year_available,rooms,elevator,lat,floors,...,has_mobility_within_500m,has_public_service_within_500m,renda_med,renda_mediana,gini,p80_p20,pct_65_plus,pct_under18,pct_single_household,sector_oficial
0,NaN,Carme-Vistalegre,"Calle Doctor Pascual i Prats, 1",2.824609,750,2026,1.0,False,41.976921,1.0,...,1,1,27181.0,24150.0,30.1,2.3,17.5,15.3,34.3,Carme
1,NaN,Devesa,Ronda Ferran Puig,2.817030,1350,2026,3.0,True,41.985110,4.0,...,1,1,33467.0,31150.0,27.5,2.4,17.7,14.5,30.6,Eixample Nord
2,NaN,Barri Vell,"Calle de les Ballesteries, 15",2.824890,1020,2026,1.0,False,41.985732,3.0,...,1,1,25336.0,19950.0,36.0,2.9,11.6,13.5,42.9,Barri Vell
3,NaN,Devesa,"Calle del Riu Güell, 3",2.819352,2700,2026,2.0,True,41.985791,3.0,...,1,1,29305.0,24850.0,33.8,3.1,14.0,16.8,34.9,Eixample Nord
4,NaN,Eixample,"Calle Barcelona, 43",2.818067,2200,2026,3.0,True,41.978423,4.0,...,1,1,32911.0,28350.0,34.3,3.1,22.6,14.3,38.3,Eixample Nord
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,2023-2493,NaN,"Eixample, 5",2.819087,1735,2023,4.0,True,41.979981,5.0,...,1,1,32451.0,26950.0,32.4,2.6,24.4,16.8,35.1,Eixample Nord
2001,2023-2495,Eixample,"Calle Emili Grahit, 23",2.830314,2520,2023,4.0,True,41.972988,4.0,...,1,1,21642.0,18550.0,31.8,2.7,15.2,17.8,26.8,Montilivi
2002,2023-2497,Devesa,"Calle del Riu Güell, 50",2.819595,2270,2023,2.0,True,41.985234,3.0,...,1,1,29305.0,24850.0,33.8,3.1,14.0,16.8,34.9,Eixample Nord
2003,2023-2498,NaN,"Barri Vell, 71",2.825146,1260,2023,2.0,True,41.984231,2.0,...,1,1,25336.0,19950.0,36.0,2.9,11.6,13.5,42.9,Barri Vell
2004,2023-2500,NaN,"Montjuïc, 62",2.831817,1410,2023,4.0,False,41.994926,2.0,...,1,0,43994.0,36050.0,34.0,2.6,26.2,16.7,17.4,Montjuïc

In [120]:
# Remove the unneeded columns for the model
df_cleaned = df.drop(columns=['synthetic_id', 'neighbourhood', 'address',
                              'districte', 'section', 'district_id', 'section_id',
                              'census_tract_IDESCAT'])
display(df_cleaned.head())

,lon,price,year_available,rooms,elevator,lat,floors,area,census_tract_INE,barri_oficial,...,has_mobility_within_500m,has_public_service_within_500m,renda_med,renda_mediana,gini,p80_p20,pct_65_plus,pct_under18,pct_single_household,sector_oficial
0,2.824609,750,2026,1.0,False,41.976921,1.0,50,1707901003,Centre,...,1,1,27181.0,24150.0,30.1,2.3,17.5,15.3,34.3,Carme
1,2.817030,1350,2026,3.0,True,41.985110,4.0,108,1707903004,Eixample,...,1,1,33467.0,31150.0,27.5,2.4,17.7,14.5,30.6,Eixample Nord
2,2.824890,1020,2026,1.0,False,41.985732,3.0,87,1707904001,Centre,...,1,1,25336.0,19950.0,36.0,2.9,11.6,13.5,42.9,Barri Vell
3,2.819352,2700,2026,2.0,True,41.985791,3.0,190,1707903003,Eixample,...,1,1,29305.0,24850.0,33.8,3.1,14.0,16.8,34.9,Eixample Nord
4,2.818067,2200,2026,3.0,True,41.978423,4.0,100,1707902005,Eixample,...,1,1,32911.0,28350.0,34.3,3.1,22.6,14.3,38.3,Eixample Nord

In [121]:
# Check missing data
print("Missing values per column:")
missing_data = df_cleaned.isnull().sum()
print(missing_data[missing_data > 0])
print(f"\nTotal rows: {len(df_cleaned)}")
print(f"\nMissing data percentages:")
print((df_cleaned.isnull().sum() / len(df_cleaned) * 100).round(2)[df_cleaned.isnull().sum() > 0])

Missing values per column:
rooms                2
elevator            23
floors              23
metres_cadastre     76
emissions_de_co2    76
qual_energia        76
dtype: int64

Total rows: 2005

Missing data percentages:
rooms               0.10
elevator            1.15
floors              1.15
metres_cadastre     3.79
emissions_de_co2    3.79
qual_energia        3.79
dtype: float64

In [122]:
# Compute sector medians and fill missing room values
rooms_sector_medians = df_cleaned.groupby('sector_oficial')['rooms'].median()
df_cleaned['rooms'] = df_cleaned['rooms'].fillna(df_cleaned['sector_oficial'].map(rooms_sector_medians))

# Set missing values of the "elevator" column to false
df_cleaned['elevator'] = df_cleaned['elevator'].fillna(False)

# Set missing values of the "floors" column to 0
df_cleaned['floors'] = df_cleaned['floors'].fillna(0)

# Compute sector medians and fill missing cadastre values
cadastre_sector_medians = df_cleaned.groupby('sector_oficial')['metres_cadastre'].median()
df_cleaned['metres_cadastre'] = df_cleaned['metres_cadastre'].fillna(df_cleaned['sector_oficial'].map(cadastre_sector_medians))

# Compute sector medians and fill missing co2 emissions values
co2_sector_medians = df_cleaned.groupby('sector_oficial')['emissions_de_co2'].median()
df_cleaned['emissions_de_co2'] = df_cleaned['emissions_de_co2'].fillna(df_cleaned['sector_oficial'].map(co2_sector_medians))

# Compute sector medians and fill missing energy values
energia_map = {
    'A': 7,
    'B': 6,
    'C': 5,
    'D': 4,
    'E': 3,
    'F': 2,
    'G': 1
}

energia_map_inv = {v: k for k, v in energia_map.items()}
df_cleaned['qual_energia_num'] = df_cleaned['qual_energia'].map(energia_map)

energia_sector_medians = (
    df_cleaned
    .groupby('sector_oficial')['qual_energia_num']
    .median()
    .round()
)

df_cleaned['qual_energia_num'] = df_cleaned['qual_energia_num'].fillna(
    df_cleaned['sector_oficial'].map(energia_sector_medians)
)

df_cleaned['qual_energia'] = df_cleaned['qual_energia_num'].map(energia_map_inv)
df_cleaned.drop(columns='qual_energia_num', inplace=True)

In [123]:
# Remove outlier rows, using the Interquartile Range (IQR) method for outlier detection
# Logarithmic transformation is applied to skewed columns before outlier detection
# Linear transformation is applied to columns that are not skewed before outlier detection
def iqr_outliers(series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    return series[(series < lower) | (series > upper)]

def group_linear_iqr_outliers(df, value_col):
    outlier_idx = []
    for _, g in df.groupby('sector_oficial'):
        outliers = iqr_outliers(g[value_col])
        outlier_idx.extend(outliers.index)
    return df.loc[outlier_idx]

def group_log_iqr_outliers(df, value_col):
    outlier_idx = []
    for _, g in df.groupby('sector_oficial'):
        log_vals = np.log1p(g[value_col])
        outliers = iqr_outliers(log_vals)
        outlier_idx.extend(outliers.index)
    return df.loc[outlier_idx]

linear_iqr_cols = [
    'rooms',
    'floors',
    'emissions_de_co2'
]

log_iqr_cols = [
    'price',
    'area',
    'metres_cadastre'
]

outlier_indices = set()

# Linear-IQR columns
for col in linear_iqr_cols:
    outliers = group_linear_iqr_outliers(df_cleaned, col)
    outlier_indices.update(outliers.index)

# Log-IQR columns
for col in log_iqr_cols:
    outliers = group_log_iqr_outliers(df_cleaned, col)
    outlier_indices.update(outliers.index)

df_no_outliers = (
    df_cleaned
    .drop(index=outlier_indices)
    .reset_index(drop=True)
)

df_no_outliers

,lon,price,year_available,rooms,elevator,lat,floors,area,census_tract_INE,barri_oficial,...,has_mobility_within_500m,has_public_service_within_500m,renda_med,renda_mediana,gini,p80_p20,pct_65_plus,pct_under18,pct_single_household,sector_oficial
0,2.824609,750,2026,1.0,False,41.976921,1.0,50,1707901003,Centre,...,1,1,27181.0,24150.0,30.1,2.3,17.5,15.3,34.3,Carme
1,2.817030,1350,2026,3.0,True,41.985110,4.0,108,1707903004,Eixample,...,1,1,33467.0,31150.0,27.5,2.4,17.7,14.5,30.6,Eixample Nord
2,2.824890,1020,2026,1.0,False,41.985732,3.0,87,1707904001,Centre,...,1,1,25336.0,19950.0,36.0,2.9,11.6,13.5,42.9,Barri Vell
3,2.818067,2200,2026,3.0,True,41.978423,4.0,100,1707902005,Eixample,...,1,1,32911.0,28350.0,34.3,3.1,22.6,14.3,38.3,Eixample Nord
4,2.818438,3400,2026,3.0,True,41.980070,3.0,131,1707902003,Eixample,...,1,1,32451.0,26950.0,32.4,2.6,24.4,16.8,35.1,Eixample Nord
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746,2.821226,3800,2023,1.0,True,41.978237,1.0,71,1707902004,Eixample,...,1,1,32741.0,26950.0,33.9,3.1,23.6,16.6,36.4,Eixample Nord
1747,2.825024,1105,2023,1.0,False,41.985298,1.0,47,1707904001,Centre,...,1,1,25336.0,19950.0,36.0,2.9,11.6,13.5,42.9,Barri Vell
1748,2.819087,1735,2023,4.0,True,41.979981,5.0,144,1707902003,Eixample,...,1,1,32451.0,26950.0,32.4,2.6,24.4,16.8,35.1,Eixample Nord
1749,2.830314,2520,2023,4.0,True,41.972988,4.0,139,1707902014,Sud,...,1,1,21642.0,18550.0,31.8,2.7,15.2,17.8,26.8,Montilivi
1750,2.825146,1260,2023,2.0,True,41.984231,2.0,110,1707904001,Centre,...,1,1,25336.0,19950.0,36.0,2.9,11.6,13.5,42.9,Barri Vell

In [124]:
# Save the cleaned dataset to a new CSV file
df_no_outliers.to_csv('dataset_barris_cleaned.csv', index=False)